<%- include('includes/head.ejs') %>
</head>
<body>
    <h1>User list</h1>
    <% if(users.length === 0) { %>
        <p>No users found</p>

    <% } else { %>
        <ul>
            <% for(let user of users) { %>
                <li><%= user %></li>
            <% } %>
        </ul>
    <% } %>
</body>